[submodule "recut-vox-broll"]
	path = apps/vox-broll
	url = git@github.com:6174/recut-vox-broll.git
	branch = main
[submodule "recut-depth-anything-v2"]
	path = apps/depth-anything
	url = git@github.com:6174/recut-depth-anything-v2.git
	branch = main
[submodule "recut-cover-studio"]
	path = apps/cover-studio
	url = git@github.com:6174/recut-cover-studio.git
	branch = main
[submodule "recut-official-repo"]
	path = operation/official-repo
	url = git@github.com:6174/recut.git
	branch = main
[submodule "recut-remotion-studio"]
	path = apps/recut-remotion-studio
	url = git@github.com:6174/recut-remotion-studio.git
	branch = main
