[submodule "recut-ai-short-film"]
	path = apps/ai-short-film
	url = git@github.com:6174/recut-ai-short-film.git
	branch = main
[submodule "recut-depth-anything-v2"]
	path = apps/depth-anything
	url = git@github.com:6174/recut-depth-anything-v2.git
	branch = main
[submodule "recut-cover-studio"]
	path = apps/cover-studio
	url = git@github.com:6174/recut-cover-studio.git
	branch = main
[submodule "recut-official-repo"]
	path = operation/official-repo
	url = git@github.com:6174/recut.git
	branch = main
[submodule "recut-remotion-studio"]
	path = apps/remotion-studio
	url = git@github.com:6174/recut-remotion-studio.git
	branch = main
[submodule "recut-audio-studio"]
	path = apps/audio-studio
	url = git@github.com:6174/recut-audio-studio.git
	branch = main
[submodule "recut-editor"]
	path = apps/editor
	url = git@github.com:6174/recut-editor.git
	branch = main
